[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
appdirs="*"
asgiref="*"
cachetools="*"
certifi="*"
cffi="*"
chardet="*"
coreapi="*"
coreschema="*"
coverage="*"
defusedxml="*"
distlib="*"
dj-database-url="*"
django="*"
django-3-jet="*"
django-allauth="*"
django-cors-headers="*"
django-email-verification="*"
django-heroku="*"
django-jet="*"
django-rest-auth="*"
django-rest-passwordreset="*"
djangorestframework="*"
djangorestframework-jwt="*"
djangorestframework-simplejwt="*"
drf-yasg="*"
filelock="*"
google-api-core="*"
google-api-python-client="*"
google-auth="*"
google-auth-httplib2="*"
googleapis-common-protos="*"
gunicorn="*"
httplib2="*"
idna="*"
inflection="*"
itypes="*"
Jinja2="*"
MarkupSafe="*"
numpy="*"
oauthlib="*"
#opencv-python="*"
packaging="*"
protobuf="*"
psycopg2="*"
pyasn1="*"
pyasn1-modules="*"
pycparser="*"
PyJWT="*"
pyparsing="*"
python-dateutil="*"
python-decouple="*"
python3-openid="*"
pytz="*"
requests="*"
requests-oauthlib="*"
rsa="*"
"ruamel.yaml"="*"
"ruamel.yaml.clib"="*"
simplejwt="*"
six="*"
sqlparse="*"
typing="*"
uritemplate="*"
urllib3="*"
virtualenv="*"
whitenoise="*"
pillow="*"
pandas="*"
xlrd="*"
openpyxl="*"
django-filter="*"

[requires]
python_version = "3.8"

