[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
dj-database-url = "*"
django = "*"
gunicorn = "*"
psycopg2 = "*"
whitenoise = "*"
python-decouple= "*"
asgiref = "*"
certifi = "*"
chardet = "*"
dj-database-url = "*"
django-filter = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
gunicorn = "*"
markdown = "*"
pillow = "*"
psycopg2 = "*"
PyJWT = "*"
python-dateutil = "*"
python-decouple = "*"
requests = "*"
sqlparse = "*"
urllib3 = "*"


[requires]
python_version = "3.8.6"